{% block header %}
<meta charset="UTF-8" />
<title>{{header['title']}} {{ title }}</title>
<meta name="keywords" content="Eagleeye" />
<meta name="description" content="" >
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<!-- 網頁顯示的寬度等於裝置寬度 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- ios 不自動偵測電話 -->
<meta name="format-detection" content="telephone=no">
<!--apple-touch-icon-->

<!--android-touch-icon-->

<!--favicon-->

<!-- css link file start -->

<!-- ga link file start -->

<div>header</div>
{% endblock %}